<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles.css">
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <form id="loginForm">
            <h2>Đăng nhập quản trị admin</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="button" onclick="login()">Login</button>
        </form>
    </div>
    <script src="~/js/login.js"></script>
  @*   <script src="login.js"></script> *@
</body>
</html>
