@{
    ViewData["Title"] = "Login Page";
}
@model Libs.Entities.LoginAdmin

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="container">
        <form id="loginForm">
            <h2>Đăng nhập quản trị admin</h2>
            <label for="ID_AT">ID_AT:</label>
            <input type="text" id="ID_AT" name="ID_AT" required>

            <label for="Name_Admin">Name_Admin:</label>
            <input type="text" id="Name_Admin" name="Name_Admin" required>

            <label for="Pass_Admin">Pass_Admin:</label>
            <input type="password" id="Pass_Admin" name="Pass_Admin" required>

            <button type="button" onclick="login()">Login</button>
        </form>
        <div id="errorMessage" class="alert alert-danger" style="display:none;"></div>
    </div>

    <script src="~/js/login.js"></script>
    <script>
        $(document).ready(function () {
            $("#Pass_Admin").keypress(function (e) {
                if (e.which === 13) {
                    login();
                }
            });
        });

        function login() {
            var ID_AT = $("#ID_AT").val();
            var Name_Admin = $("#Name_Admin").val();
            var Pass_Admin = $("#Pass_Admin").val();

            $.ajax({
                type: "POST",
                url: "/api/LoginAdmins/insert_SupremeAdmin",
                data: { ID_AT: ID_AT, Name_Admin: Name_Admin, Pass_Admin: Pass_Admin },
                success: function (result) {
                    if (result.status) {
                        // Thành công, thực hiện các hành động cần thiết (ví dụ: chuyển hướng trang)
                        window.location.href = "/Home/Home";
                    } else {
                        displayErrorMessage(result.message);
                    }
                },
                error: function () {
                    displayErrorMessage("Đã xảy ra lỗi khi đăng nhập. Vui lòng thử lại.");
                }
            });
        }

        function displayErrorMessage(message) {
            $("#errorMessage").text(message);
            $("#errorMessage").show();

            setTimeout(function () {
                $("#errorMessage").hide();
            }, 3000);
        }
    </script>
</body>
</html>

